{{ $url := .URL }}
{{ $body := .body }}

{{ $strippedText := $body | replaceRE "<!--|-->" "" | replaceRE "\r\n" "\n" }}

{{/* Find fenced objectives in text */}}
{{ $regexFence := "```objectives\\s*([^`]*?)\\s*```" }}
{{ $extractedObjectivesBlocks := findRE $regexFence $strippedText }}

{{/* Find shortcoded objectives in text */}}
<!--prettier-ignore-->
{{ $regexShortcode := "{{<objectives>}}([^`]*?){{</objectives>}}" }}
{{ $extractedShortcodeBlocks := findRE $regexShortcode $strippedText }}


{{ $extractedObjectives := slice }}
{{ range (slice $extractedObjectivesBlocks $extractedShortcodeBlocks) }}
  {{ range . }}
    {{ range (split . "\n")}}
      {{ if or (eq . "{{<objectives>}}") (eq . "{{</objectives>}}") (eq . "```objectives") (eq . "```") (eq . "") }}
        {{ continue }}
      {{ else if hasPrefix . "- [ ] "}}
        {{ $extractedObjectives = $extractedObjectives | append (substr . 6) }}
      {{ else if hasPrefix . "- "}}
        {{ $extractedObjectives = $extractedObjectives | append (printf "- [ ] %s" (substr . 2)) }}
      {{ else }}
        {{ errorf "Unexpected learning objective from remote content from URL %s: %s" $url . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $extractedObjectives }}
