.c-timeline,
[class="c-timeline"] {
  &__entry,
  [class="c-timeline__entry"] {
    &:before {
      background-color: var(--theme-color--brand);
      color: var(--theme-color--ink);
      font: var(--theme-font--ui);
    }
    &:hover:before {
      background-color: var(--theme-color--accent);
      color: var(--theme-color--paper);
    }
  }
}
