{{ with . }}
  <div class="c-map">
    <h1 class="e-heading c-map__start is-none--lt-container">👉🏾</h1>
    {{ range $index, $menu := . }}
      <section class="c-map__block">
        <h2 class="e-heading c-map__title">
          📍{{ add $index 1 }}:
          {{ $menu }}
        </h2>
        <ol class="c-map__timeline">
          {{/* Range over the courses stored in /data/courses */}}
          {{ $counter := 0 }}
          {{ range $index, $course:= (sort site.Data.courses "weight" "asc") }}
            {{ $counter =  add $counter 1 }}
            {{ if eq $course.menu $menu }}
              <li
                class="c-map__stop"
                style="--layer:{{ sub (len site.Data.courses) $counter }}">
                <a class="c-card" href="{{ $course.url }}">
                  <h3 class="c-card__title">{{ $course.name }}</h3>
                  <span class="c-card__meta"
                    >{{ div (int .days) 7 }} weeks
                    {{ $course.commitment }}
                    {{ with $course.frequency }}
                      <br />{{ . }} times a year
                    {{ end }}</span
                  >
                  {{ with .description }}
                    <p class="c-card__description">
                      {{ . }}
                      <span class="c-card__cta e-button">Learn more</span>
                    </p>
                  {{ end }}
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ol>
      </section>
    {{ end }}
  </div>
{{ end }}
