<style>
  .mermaid svg {
    height: initial;
  }
  .mermaid {
    margin-bottom: var(--theme-spacing--gutter);
  }
</style>
<div class="mermaid">{{- .Inner | safeHTML }}</div>
<script type="module">
  import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
  document.addEventListener("DOMContentLoaded", () => {
    mermaid.initialize({ startOnLoad: false });

    // Initialize Mermaid diagrams that are initially visible
    document.querySelectorAll(".mermaid:not([hidden])").forEach((diagram) => {
      mermaid.init(undefined, diagram);
    });

    // MutationObserver to reinitialize diagrams on visibility change
    new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        if (
          mutation.type === "attributes" &&
          mutation.attributeName === "hidden" &&
          !mutation.target.hidden
        ) {
          mutation.target.querySelectorAll(".mermaid").forEach((diagram) => {
            mermaid.init(undefined, diagram);
          });
        }
      });
    }).observe(document.body, { attributes: true, subtree: true });
  });
</script>
