.c-map .c-card {
  &__description {
    position: static;
    font-size: inherit;
    opacity: 100%;
    background-color: transparent;
  }
  &:hover,
  &:focus,
  &:active {
    .c-card__description {
      animation: none;
    }
  }
}
