:root {
  --theme-font--display: "Raleway", serif;
  --theme-font--copy: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --theme-font--system: 100 100%/2 "Monaco", "Menlo", "Space Grotesk", monospace;
  --theme-font--emoji: "Fluent UI Emoji", Apple Color Emoji, "Noto Color Emoji",
    "Segoe UI Emoji", "EmojiOne Color", "Twemoji Mozilla";
}
