:root {
  --theme-font--headings: 700 100%/1.5 Raleway, sans-serif;
  --theme-font--ui: 400 100%/1.5 Raleway, sans-serif;
  --theme-font--copy: 400 100%/1.5 system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --theme-font--code: 100 100%/2 Monaco, Menlo, monospace;
}
