{{ define "main" }}
  {{ $currentPath := .Page.RelPermalink }}
  {{ $backlog_filter := .Page.Params.backlog_filter }}
  {{ $repos := .Page.Params.backlog }}
  {{ if not (reflect.IsSlice $repos) }}
    {{ $repos = slice $repos }}
  {{ end }}
  <article>
    {{ partial "page-header.html" . }}
    {{ with .Content }}
      <section class="c-copy">{{ . }}</section>
    {{ end }}
    {{/* you can have multiple repos but probably for sanity let's just stick with one label filter
      for each repo, grab the issues that match the filter
    */}}
    {{ range $repos }}
      {{ $issueBlocks := partial "block/issues-list-as-blocks.html" (dict "backlog" . "backlog_filter" $backlog_filter "path" $currentPath) }}
      {{ $repo := . }}    
      {{ range $issueBlocks }}
        <div class="c-alert" role="alert" hidden>
          <span class="alert__message"></span>
          <button aria-label="Close" class="clean-btn close" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <details class="c-issue">
          <summary class="c-issue__title e-heading__3">
            {{ .name }}
            <a class="c-issue__link" href="{{ .src }}">🔗</a>
            <a
              href="https://curriculum.codeyourfuture.io/api/clone?state={{ dict "issue" .number "module" $repo "sprint" $backlog_filter "prevURL" (urls.AbsLangURL $currentPath) | jsonify }}"
              class="e-button"
              data-props="{{ .Page.RelPermalink }}">
              Clone
            </a>
          </summary>
          <div class="c-issue__body">
            {{ partial "block/block.html" (dict "block" . "Page"
              $.Page "Site" site )
            }}
          </div>
        </details>
      {{ end }}
    {{ end }}
  </article>
{{ end }}
