{{ define "main" }}
  {{ $currentPath := .Page.RelPermalink }}
  {{ $backlog_filter := .Page.Params.backlog_filter }}
  {{ $repos := .Page.Params.backlog }}
  {{ if not (reflect.IsSlice $repos) }}
    {{ $repos = slice $repos }}
  {{ end }}
  <article>
    {{ partial "page-header.html" . }}
    {{ with .Content }}
      <section class="c-copy">{{ . }}</section>
    {{ end }}

    <a class="e-button" id="expand-all-button">Expand all</a>
    <script type="text/javascript">
    const button = document.querySelector("#expand-all-button");
    button.addEventListener("click", () => {
      const expand = button.textContent === "Expand all";
      button.textContent = expand ? "Collapse all" : "Expand all";
      document.querySelectorAll("details").forEach((details) => {
        details.open = expand;
      })
    })
    </script>

    {{/* you can have multiple repos but probably for sanity let's just stick with one label filter
      for each repo, grab the issues that match the filter
    */}}
    {{ range $repos }}
      {{ $setupTasks := slice }}
      {{ $recurringTasks := slice }}
      {{ $mandatoryTasks := slice }}
      {{ $optionalTasks := slice }}
      {{ $issueBlocks := partial "block/issues-list-as-blocks.html" (dict "backlog" . "backlog_filter" $backlog_filter "path" $currentPath) }}
      {{ $repo := . }}    
      {{ range $issueBlocks }}
        {{ $issue := . }}
        {{ range .labels.nodes }}
          {{if in .name "Recurring"}}
            {{ $recurringTasks = $recurringTasks | append $issue }}
          {{else if in .name "Setup"}}
            {{ $setupTasks = $setupTasks | append $issue }}
          {{else if in .name "Core"}}
            {{ $mandatoryTasks = $mandatoryTasks | append $issue }}
          {{else if in .name "Optional"}}
            {{ $optionalTasks = $optionalTasks | append $issue }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if lt 0 ($setupTasks | len) }}
        <h2>Start Here</h2>
        <p>These tasks should be completed before attempting anything else.</p>
        {{range $setupTasks}} 
          {{ partial "block/backlog-issue.html" (dict 
            "block" . 
            "Page" $.Page 
            "Site" site 
            "repo" $repo
            "sprint" $backlog_filter
            "path" $currentPath
          ) }}
        {{ end }}
      {{ end }}
      {{ if lt 0 ($recurringTasks | len) }}
        <h2>Recurring Tasks</h2>
        <p>These tasks need to be completed in every sprint.</p>
        {{range $recurringTasks}} 
          {{ partial "block/backlog-issue.html" (dict 
            "block" . 
            "Page" $.Page 
            "Site" site 
            "repo" $repo
            "sprint" $backlog_filter
            "path" $currentPath
          ) }}
        {{ end }}
      {{ end }}
      {{ if lt 0 ($mandatoryTasks | len) }}
        <h2>Mandatory Tasks</h2>
        <p>These tasks will help consolidate your learning for this sprint. You should complete as many of these as possible before class on Saturday.</p>
        {{range $mandatoryTasks}}
          {{ partial "block/backlog-issue.html" (dict
            "block" .
            "Page" $.Page
            "Site" site
            "repo" $repo
            "sprint" $backlog_filter
            "path" $currentPath
          ) }}
        {{ end }}
      {{ end }}
      {{ if lt 0 ($optionalTasks | len) }}
        <h2>Optional Tasks</h2>
        <p>These are optional "stretch goals" to attempt when you have finished the mandatory tasks. They may be more challenging or require some additional research.</p>
        {{range $optionalTasks}}
          {{ partial "block/backlog-issue.html" (dict
            "block" .
            "Page" $.Page
            "Site" site
            "repo" $repo
            "sprint" $backlog_filter
            "path" $currentPath
          ) }}
        {{ end }}
      {{ end }}
    {{ end }}
  </article>
{{ end }}
