{{ define "main" }}
  {{ $currentPath := .Page.RelPermalink }}
  {{ $backlog_filter := .Page.Params.backlog_filter }}
  {{ $repos := .Page.Params.backlog }}
  {{ if not (reflect.IsSlice $repos) }}
    {{ $repos = slice $repos }}
  {{ end }}
  <article>
    {{ partial "page-header.html" . }}
    {{ with .Content }}
      <section class="c-copy">{{ . }}</section>
    {{ end }}
    {{/* you can have multiple repos but probably for sanity let's just stick with one label filter
      for each repo, grab the issues that match the filter
    */}}
    {{ range $repos }}
      {{ $recurringTasks := slice }}
      {{ $mandatoryTasks := slice }}
      {{ $optionalTasks := slice }}
      {{ $issueBlocks := partial "block/issues-list-as-blocks.html" (dict "backlog" . "backlog_filter" $backlog_filter "path" $currentPath) }}
      {{ $repo := . }}    
      {{ range $issueBlocks }}
        {{ $issue := . }}
        {{ range .labels.nodes }}
          {{if in .name "Recurring"}}
            {{ $recurringTasks = $recurringTasks | append $issue }}
          {{else if in .name "Core"}}
            {{ $mandatoryTasks = $mandatoryTasks | append $issue }}
          {{else if in .name "Optional"}}
            {{ $optionalTasks = $optionalTasks | append $issue }}
          {{ end }}
        {{ end }}
      {{ end }}
      <h2>Recurring Tasks</h2>
      <p>These tasks need to be completed in every sprint.</p>
      {{range $recurringTasks}} 
        <details class="c-issue">
          <summary class="c-issue__title e-heading__3">
            {{ .name }}
            <a class="c-issue__link" href="{{ .src }}">🔗</a>
            <a
              href="https://curriculum.codeyourfuture.io/api/clone?state={{ dict "issue" .number "module" $repo "sprint" $backlog_filter "prevURL" (urls.AbsLangURL $currentPath) | jsonify }}"
              class="e-button"
              data-props="{{ .Page.RelPermalink }}">
              Clone
            </a>
          </summary>
          <div class="c-issue__body">
            {{ partial "block/block.html" (dict "block" . "Page"
              $.Page "Site" site )
            }}
          </div>
        </details>
      {{ end }}
      <h2>Mandatory Tasks</h2>
      <p>These tasks will help consolidate your learning for this sprint. You should complete as many of these as possible before class on Saturday.</p>
      {{range $mandatoryTasks}}
      <details class="c-issue">
        <summary class="c-issue__title e-heading__3">
          {{ .name }}
          <a class="c-issue__link" href="{{ .src }}">🔗</a>
          <a href="https://curriculum.codeyourfuture.io/api/clone?state={{ dict " issue" .number "module" $repo "sprint"
            $backlog_filter "prevURL" (urls.AbsLangURL $currentPath) | jsonify }}" class="e-button"
            data-props="{{ .Page.RelPermalink }}">
            Clone
          </a>
        </summary>
        <div class="c-issue__body">
          {{ partial "block/block.html" (dict "block" . "Page"
          $.Page "Site" site )
          }}
        </div>
      </details>
      {{ end }}
      <h2>Optional Tasks</h2>
      <p>These are optional "stretch goals" to attempt when you have finished the mandatory tasks. They may be more challenging or require some additional research.</p>
      {{range $optionalTasks}}
      <details class="c-issue">
        <summary class="c-issue__title e-heading__3">
          {{ .name }}
          <a class="c-issue__link" href="{{ .src }}">🔗</a>
          <a href="https://curriculum.codeyourfuture.io/api/clone?state={{ dict " issue" .number "module" $repo "sprint"
            $backlog_filter "prevURL" (urls.AbsLangURL $currentPath) | jsonify }}" class="e-button"
            data-props="{{ .Page.RelPermalink }}">
            Clone
          </a>
        </summary>
        <div class="c-issue__body">
          {{ partial "block/block.html" (dict "block" . "Page"
          $.Page "Site" site )
          }}
        </div>
      </details>
      {{ end }}
    {{ end }}
  </article>
{{ end }}
