{{ define "main" }}
  <solo-view tabindex="0">
    {{ $blockTitles := slice .Title }}
    {{ range .Pages }}
      {{ $blockTitles = $blockTitles | append .Title }}
    {{ end }}
    {{ .Scratch.Set "tocList" $blockTitles }}
    {{ .Scratch.Set "headerClass" "c-page-header--solo" }}
    <div slot="header">
      {{ partial "page-header.html" . }}
    </div>
    <div slot="blocks">
      {{ with .Content }}
        <section class="l-page__main c-block c-copy">{{ . }}</section>
      {{ end }}
      <section class="c-block">
        <h2>{{ .Title }} block viewer</h2>
        <p>
          This block viewer lets you flick through all the existing blocks in
          the {{ .Title }} folder so you can choose what parts to add to your
          pages and what parts you might want to create, revise, or leave out.
        </p>
        <p>
          It's literally just an alphabetical list of whatever is in this
          folder.
        </p>
      </section>
      {{ $currentDir := .File.Dir }}
      {{ with .Site.GetPage $currentDir }}
        {{ range .Pages }}
          <section class="c-block c-block--local">
            <div class="c-block__body" tabindex="0">
              <header class="c-block__header">
                <h2
                  class="c-block__title e-heading__2"
                  id="{{ .Title |urlize }}">
                  {{ .Title }}
                </h2>
                {{ partial "time.html" . }}
              </header>
              {{ with .Params.Objectives }}
                <details open>
                  <summary>
                    <h3 class="e-heading__5">Learning Objectives</h3>
                  </summary>
                  {{ partial "objectives/block.html" . }}
                </details>
              {{ end }}
              <div class="c-block__content c-copy">
                {{ with .Description }}<h4>{{ . }}</h4>{{ end }}
                {{ .Content }}
              </div>
            </div>
          </section>
        {{ end }}
      {{ end }}
    </div>
    <nav slot="nav">
      <a href="#" class="e-button c-solo-view__back">&larr; Back</a>
      <a href="#" class="e-button c-solo-view__next">Next &rarr;</a>
    </nav>
  </solo-view>
  {{ $soloView := resources.Get "scripts/solo-view.js" | resources.Minify }}
  <script src="{{ $soloView.RelPermalink }}" defer></script>
{{ end }}
