{{ define "main" }}
  <article>
    {{ .Scratch.Set "headerClass"
      "c-page-header--toc"
    }}
    {{ partial "page-header.html" . }}
    {{ with .Content }}
      <section class="l-page__main c-copy">{{ . }}</section>
    {{ end }}

    {{ if not .Params.blocks }}
      {{ errorf "There are no blocks on the %s page. Make sure this day plan has blocks." $.Page.RelPermalink }}
    {{ end }}
    {{ $startTime := .Params.startTime | default "10:00" }}
    <time-stamper start-time="{{$startTime}}">
      <div class="c-block__series c-block__series--timeline">
        {{ if ne .Params.noRegister true }}
          {{ $moduleSection := $.Page.CurrentSection }}
          {{/* Most of our modules have two levels of hierarchy - course > module > sprint. But some go straight course > sprint or module > sprint - allow opting into this with a param. */}}
          {{ $parentsToTraverseToModule := $moduleSection.Params.parentsToTraverseToModule }}
          {{ if eq $parentsToTraverseToModule nil }}
            {{ $parentsToTraverseToModule = 1 }}
          {{ end }}
          {{ range seq $parentsToTraverseToModule }}
            {{ $moduleSection = $moduleSection.Parent }}
          {{ end }}
          {{ $module := $moduleSection.Title }}
          {{ with $moduleSection.Params.moduleForRegister }}
            {{ $module = . }}
          {{ end }}
          {{ partial "register-attendance.html" (dict "course" site.Title "module" $module "day" $.Page.CurrentSection.Title) }}
        {{ end }}
        {{ range $index, $block := .Params.blocks }}

          {{ partial "block/block.html" (dict "block" $block "Page" $.Page "Site" site) }}

        {{ end }}
      </div>
    </time-stamper>
  </article>
  {{ $timestamper := resources.Get "scripts/time-stamper.js" | resources.Minify }}
  <script src="{{ $timestamper.RelPermalink }}" type="module" defer></script>
{{ end }}
