{{ define "main" }}
  <article>
    {{ .Scratch.Set "headerClass"
      "c-page-header--toc"
    }}
    {{ partial "page-header.html" . }}
    {{ with .Content }}
      <section class="l-page__main c-copy">{{ . }}</section>
    {{ end }}

    {{ if not .Params.blocks }}
      {{ errorf "There are no blocks on the %s page. Make sure this day plan has blocks." $.Page.RelPermalink }}
    {{ end }}


    <time-stamper>
      <div class="c-block__series c-block__series--timeline">
        {{ if ne .Params.noRegister true }}
          {{ partial "register-attendance.html" (dict "course" site.Title "module" $.Page.CurrentSection.Parent.Title "day" $.Page.CurrentSection.Title) }}
        {{ end }}
        {{ range $index, $block := .Params.blocks }}

          {{ partial "block/block.html" (dict "block" $block "Page" $.Page "Site" site) }}

        {{ end }}
      </div>
    </time-stamper>
  </article>
  {{ $timestamper := resources.Get "scripts/time-stamper.js" | resources.Minify }}
  <script src="{{ $timestamper.RelPermalink }}" type="module" defer></script>
{{ end }}
