{{ define "main" }}
  {{ $site := .Site }}

  {{ partial "page-header.html" . }}

  {{ .Page.Content }}
  {{ $overviewMenu := .Page.Params.overview_menu }}
  {{ if not $overviewMenu }}
    {{ errorf "You must define a menu in your overview_menu front matter param" }}
  {{ end }}
  {{ range index .Site.Menus $overviewMenu }}
    {{ $moduleURL := .URL }}
    {{ $moduleTitle := .Page.Params.Title }}
    <!-- We lazily show the module title only if there's actual content under it.-->
    {{ $hasShownModuleTitle := false }}

    {{ range where $site.Pages "Section" .Page.Section }}
      {{ $thisSection := .Section }}

      {{ if or (not .Params.Theme) (not (in .Params.menu_level "module")) }}
        {{ continue }}
      {{ end }}
      {{ $themePage := . }}
      {{ $relevantBlocksPage := or .Params.blocks_page_for_overview "prep" }}
      {{/* this is the same strategy used on success page. Look there for how to add extra pages */}}
      {{ $prep := .Site.GetPage (printf "%sprep/index.md" .CurrentSection.RelPermalink) }}
      {{ $success := .Site.GetPage (printf "%ssuccess/index.md" .CurrentSection.RelPermalink) }}
      {{ if not $hasShownModuleTitle }}
        <h4><a href="{{ $moduleURL }}">{{ $moduleTitle }}</a></h4>
        {{ $hasShownModuleTitle = true }}
      {{ end }}
      <h5>
        <a href="{{ $success.Permalink }}">{{ $themePage.Params.Theme }}</a> (<a href="{{ $prep.Permalink }}">Prep</a>)
      </h5>
      <ol>
        {{ range $prep.Params.blocks }}
          {{ $block := ($site.GetPage .src) }}
          {{ if or $block.Params.hide_from_overview (strings.Contains .src "https:") }}
            {{ continue }}
          {{ end }}
          <li>{{ $block.Title }}</li>
        {{ end }}
      </ol>
    {{ end }}
  {{ end }}
{{ end }}
