{{ define "main" }}
  <solo-view tabindex="0">
    {{ .Scratch.Set "headerClass"
      "c-page-header--solo"
    }}
    <div slot="header">{{ partial "page-header.html" . }}</div>
    <div slot="blocks">
      {{ with .Content }}
        <section class="l-page__main c-block c-copy">{{ . }}</section>
      {{ end }}
      <!-- Blocks will appear here in order listed in the blocks list in the sprint front matter -->
      {{ range .Params.blocks }}
        {{ partial "block/block.html" (dict "block" . "Page"
          $.Page)
        }}
      {{ end }}
    </div>
    {{ if gt .Params.blocks 1 }}
      <nav slot="nav">
        <a href="#" class="e-button c-solo-view__back">&larr; Back</a>
        <a href="#" class="e-button c-solo-view__next">Next &rarr;</a>
      </nav>
    {{ end }}
  </solo-view>

  {{ $soloView := resources.Get "scripts/solo-view.js" | resources.Minify }}
  <script src="{{ $soloView.Permalink }}" defer></script>
{{ end }}
