{{ define "main" }}
  {{ partial "page-header.html" . }}
  <article class="{{ with .Content }}c-copy{{ end }}">{{ .Content }}</article>
  {{ $parent := .Section }}
  <ol class="c-timeline">
    {{ range where .Site.Pages "Section" $parent }}
      {{ if in .Params.menu_level
        "product"
      }}
        <li class="c-timeline__entry">
          <a class="c-timeline__post" href="{{ .Permalink }}"
            ><h3 class="c-timeline__title">{{ .Title }}</h3></a
          >
        </li>
      {{ end }}
    {{ end }}
  </ol>
{{ end }}
