{{ define "main" }}
  {{ $pageContext := . }}
  <article>
    {{ partial "page-header.html" . }}
    {{ with .Content }}
      <section class="l-page__main c-copy">{{ . }}</section>
    {{ end }}
    <confetti-checkboxes>
      {{/* print any objectives from the success page front matter */}}
      {{ with .Params.Objectives }}
        <section class="c-objectives">
          <h3 class="c-objectives__title is-invisible">Overall Objectives</h3>
          {{ range . }}{{ partial "objectives/block.html" . }}{{ end }}
        </section>
      {{ end }}

      {{ if in .Params.menu_level "module" }}
        {{ if not .Params.Objectives }}
          {{ errorf "There are no learning objectives on the %s page. Make sure this module has learning objectives." .Page.RelPermalink }}
        {{ end }}
        {{/* At the module level, we just want the overall criteria for progressing to the next module */}}
      {{ else }}
        <section class="c-objectives">
          <h2 class="e-heading__4 c-objectives__title is-invisible">
            Compiled Learning Objectives
          </h2>
          {{/* get the path to the pages that are the siblings of this page */}}
          {{ $prep := .Site.GetPage (printf "%sprep/index.md"
            .CurrentSection.RelPermalink)
          }}
          {{ $backlogPage := .Site.GetPage (printf "%sbacklog/index.md"
            .CurrentSection.RelPermalink)
          }}
          {{ $dayplan := .Site.GetPage (printf "%sday-plan/index.md"
            .CurrentSection.RelPermalink)
          }}
          {{ $issueBlocks := slice }}
          {{ if $backlogPage }}
            {{ $backlogs := $backlogPage.Params.backlog }}
            {{ if $backlogs }}
              {{ if reflect.IsSlice $backlogs }}
                {{ range $backlogs }}
                  {{ $issueBlocks = append (partial "block/issues-list-as-blocks.html" (dict "backlog" . "backlog_filter" $backlogPage.Params.backlog_filter "path" $pageContext.Path)) $issueBlocks }}
                {{ end }}
              {{ else }}
                {{ $backlog := $backlogs }}
                {{ $issueBlocks = append (partial "block/issues-list-as-blocks.html" (dict "backlog" $backlog "backlog_filter" $backlogPage.Params.backlog_filter "path" $pageContext.Path)) $issueBlocks }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{ $blocks := slice }}
          {{/* append non-nil blocks */}}
          {{ range $prep.Params.blocks }}
            {{ if . }}{{ $blocks = $blocks | append . }}{{ end }}
          {{ end }}
          {{ range $issueBlocks }}
            {{ if . }}{{ $blocks = $blocks | append . }}{{ end }}
          {{ end }}
          {{ range $dayplan.Params.blocks }}
            {{ if . }}{{ $blocks = $blocks | append . }}{{ end }}
          {{ end }}
          {{/* If you don't have any blocks but you do have places to get them from */}}
          {{ if and (not $blocks) $dayplan $prep }}
            {{ errorf "There are no learning objectives on the %s page. Make sure this sprint has learning objectives." $.Page.RelPermalink }}
          {{ end }}

          {{/* Deduplicate blocks */}}
          {{ $uniqueSrcs := slice }}
          {{ $dedupedBlocks := slice }}

          {{ range $blocks }}
            {{ if not (in $uniqueSrcs .src) }}
              {{ $uniqueSrcs = $uniqueSrcs | append .src }}
              {{ $dedupedBlocks = $dedupedBlocks | append . }}
            {{ end }}
          {{ end }}

          {{ $blocks = $dedupedBlocks }}

          {{ range $blocks }}
            {{ $name := .name }}
            {{ $src := .src }}
            {{/* Call our scratch function */}}
            {{ partial "block/data.html" (dict "Scratch" $.Page.Scratch "src" $src  "name" $name "page" .) }}
            {{/* Retrieve the blockData from Scratch */}}
            {{ $blockData := $.Page.Scratch.Get "blockData" }}
            {{ $links := slice }}
            {{ $anchorifiedName := $name | urlize }}
            {{ if in $prep.Params.blocks . }}{{ $links = $links | append (dict "href" (printf "../prep#%s" $anchorifiedName) "text" "Prep") }}{{ end }}
            {{ if in $issueBlocks . }}{{ $links = $links | append (dict "href" (printf "../backlog#%s" $anchorifiedName) "text" "Backlog") }}{{ end }}
            {{ if in $dayplan.Params.blocks . }}{{ $links = $links | append (dict "href" (printf "../day-plan#%s" $anchorifiedName) "text" "Day Plan") }}{{ end }}
            {{/* Depending on the type of block, call the appropriate partial */}}
            {{ if or (eq $blockData.type "readme") (eq $blockData.type "issue") }}
              {{ partial "objectives/remote" (dict "blockData" $blockData "pageContext" $pageContext "title" $blockData.name "links" $links ) }}
            {{ else }}
              {{ partial "objectives/local.html" (dict "blockData" $blockData "pageContext" $pageContext "showTitle" true "links" $links) }}
            {{ end }}

          {{ end }}
        </section>
      {{ end }}
    </confetti-checkboxes>
  </article>

  {{ $confetti := resources.Get "scripts/confetti-checkboxes.js" | resources.Minify }}
  <script src="{{ $confetti.RelPermalink }}" type="module" defer></script>
{{ end }}
