{{ define "main" }}

  {{ partial "page-header.html" . }}
    <article class="c-copy">
    {{ with .Page.Params.details }}
      <dl class="c-terms">
        {{ range $metadatum := index . }}
          <dt>{{ index $metadatum "name" }}</dt> <dd>{{ index $metadatum "value" }}</dd>
        {{ end }}
      </dl>
    {{ end }}

      {{ .Content }}
      {{ with .Pages }}
      <footer class="c-page__footer">
        {{ $taxonomy := site.GetPage "/track_kinds" }}
        <h3>🏷️ {{ or $taxonomy.Params.member_name "Members" }}</h3>
        <ul class="c-label__list">
        {{ range sort . "Title"}}
          <li class="c-label" style="--color:var(--theme-color--block)">
        {{ with .Permalink }}<a href="{{ .}}">{{end}}
            <span class="c-label__name">{{ .Title }}</span>
        {{ with .Permalink }}</a>{{end}}
      </li>    

        {{ end }}
        </ul>
      </footer>
      {{ end }}
    </article>
  
{{ end }}
