{{ define "main" }}
  {{ .Scratch.Set "emoji" (.Page.Params.emoji | default "🗃️") }}

  {{ partial "page-header.html" . }}
    <article class="c-copy">
    {{ with .Page.Params.details }}
      <dl class="c-terms">
        {{ range $metadatum := index . }}
          <dt>{{ index $metadatum "name" }}</dt> <dd>{{ index $metadatum "value" }}</dd>
        {{ end }}
      </dl>
    {{ end }}

      {{ .Content }}
      {{ with .Pages }}
      <footer class="c-page__footer">
        <h3>🏷️ Tagged</h3>
        <ul class="c-label__list">
        {{ range sort . "Title"}}
          <li class="c-label" style="--color:var(--theme-color--block)">
        {{ with .Permalink }}<a href="{{ .}}">{{end}}
            <span class="c-label__name">{{ .Params.emoji |default "🧩"}} {{ .Title }}</span>
        {{ with .Permalink }}</a>{{end}}
      </li>    

        {{ end }}
        </ul>
      <hr>
       <h5 class="e-heading__6">📛 This is a term definition page</h5>
      </footer>
      {{ end }}
    </article>
  
{{ end }}
