* {
  box-sizing: border-box;
}
body,
html {
  font: var(--theme-font--copy);
  font-size: 100%;
  background-color: var(--theme-color--paper);
  color: var(--theme-color--ink);
  margin: 0;
  padding: 0;
  height: 100%;
  animation: fade-in 0.4s;
  scroll-padding: calc(var(--header-height) * 2) 0;
}

@media (max-width: $c-med) {
  body {
    overflow-x: hidden;
    max-width: 100svw;
    height: max-content;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
