form {
  padding: var(--theme-spacing--2) 0;
  width: 100%;
  margin: 0 auto var(--theme-spacing--4);
  border: none;
}

.c-form--inline {
  padding: 0;
  display: inline-flex;
  flex-flow: row wrap;
  gap: var(--theme-spacing--1);
  align-items: center;
}

fieldset {
  border: var(--theme-border);
  border-color: var(--theme-color--block);
  box-shadow: var(--theme-box-shadow--slim);
  border-radius: var(--theme-border-radius);
  display: grid;
}

main input:not([type="radio"]):not([type="checkbox"]) {
  appearance: none;
  padding: calc(var(--theme-spacing--2) / 2);
  min-width: 36ch;
  width: 100%;
  max-width: var(--theme-spacing--linelength);
  border: var(--theme-border);
  border-color: var(--theme-color--block);
  box-shadow: var(--theme-box-shadow--slim);
  border-radius: var(--theme-border-radius);
}

legend {
  font: var(--theme-font--copy);
  font-size: var(--theme-type-size--4);
  // float legend in a fieldset of display grid to artificially recreate a box
  float: left;
  padding: var(--theme-spacing--1) 0;
}
label,
input::placeholder {
  font: var(--theme-font--copy);
  font-size: var(--theme-type-size--6);
}

[type="submit"] {
  display: flex;
  margin: 0 0 auto auto; //pin right
}
