svg {
  height: 100%;
  width: auto;
  min-width: var(--theme-spacing--touchtarget);
  font: var(--theme-font--ui);
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

picture {
  height: auto;
  overflow: hidden;
}
figure {
  width: fit-content;
  box-shadow: var(--theme-box-shadow);
  margin: 0 auto var(--theme-spacing--gutter) 0;
}

figure img {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  max-height: 100vh;
}

figcaption {
  padding: var(--theme-spacing--gutter);
  font: var(--theme-font--ui);
  border-bottom: var(--theme-border);
}
