{{ define "main" }}
{{ $site := .Site }}

{{ partial "page-header.html" . }}

{{ with . }}
    <ol class="c-course-overview__courses">
        {{/* Range over the courses stored in /data/courses */}}
        {{ $counter := 0 }}
        {{ range $index, $course:= (sort site.Data.courses "weight" "asc") }}
        {{ $counter =  add $counter 1 }}
        {{ if $course.key_skills }}
            <li class="c-course-overview__courses__course">
                <h3><a href="{{ $course.url }}overview">{{ $course.name }}</a></h3>
                <ul>
                {{ range $key_skill := $course.key_skills }}
                <li class="c-course-overview__courses__course__skill">{{ $key_skill }}</li>
                {{ end }}
                </ul>
            </li>
        {{ end }}
        {{ end }}
    </ol>
{{ end }}
{{ end }}
