@mixin light-palette {
  // the piscine is blue obv
  --theme-color--brand: hsla(220, 100%, 54%, 0.95);
  --theme-color--brand-shade: hsla(220, 100%, 54%, 0.375);
  // key
  --hue: 220;
  --sat: 90%;
  --lum: 90%;
  --alpha: 0.95;
  --hsl: var(--hue), var(--sat), var(--lum);
  // now build all the shades
  --theme-color--paper: hsla(
    var(--hue),
    calc(var(--sat) * 1.2),
    calc(var(--lum) * 1.06),
    var(--alpha)
  );
  --theme-color--ink: hsla(
    var(--hue),
    calc(var(--sat) * 2.2),
    calc(var(--lum) * 0.3),
    var(--alpha)
  );
}

@mixin dark-palette {
  --hue: 270;
  --theme-color--accent: hsla(262, 100%, 67%, 1);
  --theme-color--pop: hsl(146, 100%, 46%);
}
