{{/* This partial goes and gets a local block
  But instead of rendering the whole thing like blocks/local
  It just renders the objectives
*/}}
{{ $scope := . }}
{{ $pageContext := .pageContext }}
{{ $localBlock := $pageContext.GetPage $scope.blockData.api }}
{{ $showTitle := .showTitle |default false }}

{{ if $localBlock.Page.Params.Objectives }}
{{ partial "objectives/for-success.html" (dict "objectives" $localBlock.Page.Params.Objectives "showTitle" $showTitle "title" $localBlock.Page.Title "links" $scope.links) }}
{{ end }}
