{{ $sot := .blockData.sot }}
{{ $name := .blockData.name }}

{{ with  resources.GetRemote .blockData.api .blockData.headers }}
  {{ with .Err }}
    {{ errorf "Failed %s on %s. Error: %s" $sot .Page.Title .Err }}
  {{ end }}
  {{ $response := .Content | unmarshal }}

  {{ $decodedContent := $response.content | base64Decode }}
  {{/* Find fenced objectives in text */}}
  {{ $regexFence := "```objectives\\s*([^`]*?)\\s*```" }}
  {{ $rawBlocks := findRE $regexFence $decodedContent }}

  {{ $blocks := slice }}
  {{ range $rawBlocks }}
    {{ $blockContent := . | replaceRE "^```objectives\\s*|\\s*```$" "" }}
    {{ $objectives := split $blockContent "\n" }}
    {{ range $objectives }}
      {{ $objective := replace . "- [ ] " "" }}
      {{ if ne (trim $objective " ") "" }}
        {{ $blocks = $blocks | append $objective }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* Output list */}}
  {{ if gt (len $blocks) 0 }}
    <h5>
      <a href="{{ $sot }}" class="c-objectives__link"> {{ $name }} 🔗 </a>
    </h5>
    {{ with $blocks }}
      {{ partial "objectives/block.html" . }}
    {{ end }}
  {{ end }}

{{ end }}
