{{ $response := resources.GetRemote .blockData.api .blockData.headers }}
{{ $showTitle := .showTitle |default false }}
{{/* 404s lead to GetRemote returning nil rather than an error. */}}
{{ if eq $response nil }}
  {{ errorf "Couldn't find anything at %s" .blockData.api }}
{{ end }}

{{ with $response }}
  {{ $response := .Content | unmarshal }}

  {{ $decodedContent := $response.content | base64Decode }}

  {{/* Find fenced objectives in text */}}
  {{ $regexFence := "```objectives\\s*([^`]*?)\\s*```" }}
  {{ $extractedObjectives := findRE $regexFence $decodedContent }}

  {{/* Find shortcoded objectives in text */}}
  {{ $regexShortcode := "{{< objectives >}}([^`]*?){{< /objectives >}}" }}
  {{ $extractedObjectives = $extractedObjectives| append (findRE $regexShortcode $decodedContent) }}

  {{ if gt (len $extractedObjectives) 0 }}
    {{ if $showTitle }}<h5>{{ $showTitle }}</h5>{{ end }}
    {{ range $extractedObjectives }}
      {{ . | markdownify }}
    {{ end }}
  {{ end }}
{{ end }}
