{{/* This partial goes and gets a remote content block but instead of rendering
  a whole block like blocks/etc does, it just renders learning objectives
*/}}

{{ $response := resources.GetRemote .blockData.api .blockData.headers }}
{{ $blockType := .blockData.type }}
{{ $title := .title }}
{{ $links := .links }}
{{ $url := .blockData.api }}
{{/* 404s lead to GetRemote returning nil rather than an error. */}}
{{ if eq $response nil }}
  {{ errorf "Couldn't find anything at %s" $url }}
{{ end }}

{{ with $response }}
  {{ $response := .Content | unmarshal }}
  {{/* readme and issue responses are a tiny bit different but not enough to warrant different partials */}}
  {{ if eq $blockType "readme" }}
    {{ $response = $response.content | base64Decode }}
  {{ end }}
  {{ if eq $blockType "issue" }}
    {{ $response = $response.body }}
  {{ end }}

  {{ $extractedObjectives := partial "strings/extract-github-objectives.html" (dict "URL" $url "body" $response) }}
  {{ if gt (len $extractedObjectives) 0 }}
    {{ partial "objectives/for-success.html" (dict "objectives" $extractedObjectives "showTitle" $title "title" $title "links" $links) }}
  {{ end }}
{{ end }}
