@mixin light-palette {
  // these brand colours are set and then everything else is derived from the key
  --theme-color--brand: hsla(0, 100%, 67%, 1);
  --theme-color--brand-shade: hsla(0, 100%, 67%, 0.375);
  --theme-color--accent: hsl(146, 100%, 46%);
  --theme-color--accent-shade: hsla(146, 100%, 46%, 0.5);
  --theme-color--pop: hsla(262, 100%, 62%, 1);
  // key
  --hue: 260;
  --sat: 35%;
  --lum: 90%;
  --alpha: 0.95;
}

@mixin dark-palette {
  --hue: 270;
  --sat: 8%;
  --lum: 20%;
  --alpha: 0.99;
}
