{{ define "main" }}
  <article>
    {{ .Scratch.Set "emoji" "🧑🏿‍🤝‍🧑🏾" }}
    {{ .Scratch.Set "headerClass"
      "c-page-header--toc"
    }}
    {{ partial "page-header.html" . }}
    <section class="l-page__main c-copy">{{ .Content }}</section>
    <time-stamper>
      <div class="c-block__series c-block__series--timeline">
        {{ range $index, $block := .Params.blocks }}

          {{ partial "block/block.html" (dict "block" $block "Page" $.Page) }}

        {{ end }}
      </div>
    </time-stamper>
  </article>
  {{ $timestamper := resources.Get "scripts/time-stamper.js" | resources.Minify }}
  <script src="{{ $timestamper.Permalink }}" type="module" defer></script>
{{ end }}
