{{ define "main" }}
  <article>
    {{ .Scratch.Set "emoji" "🧑🏾‍💻" }}
    {{ .Scratch.Set "headerClass"
      "c-page-header--toc"
    }}
    {{ partial "page-header.html" . }}
    {{ with .Content }}
      <section class="l-page__main c-block">{{ . }}</section>
    {{ end }}
    <div class="c-block__list">
      <!-- Blocks will appear here in order listed in the blocks list in the sprint front matter -->
      {{ range .Params.blocks }}
        {{ partial "block/block.html" (dict "block" . "Page"
          $.Page)
        }}
      {{ end }}
    </div>
  </article>
{{ end }}
