{{ $blockData := .Page.Scratch.Get "blockData" }}
{{ $response := getJSON $blockData.api $blockData.headers }}

{{ if $response }}
  {{ $decodedContent := $response.content | base64Decode }}
  {{ $placeholder := "UNIQUE_PLACEHOLDER" }}
  {{ $decodedContentWithPlaceholder :=
    replaceRE "((?:.*---.*){1})---" "${1}" $decodedContent
  }}
  {{ $contentParts :=
    split $decodedContentWithPlaceholder $placeholder
  }}
  {{ $frontMatter := index
    $contentParts 0
  }}
  {{ $markdownContent := index $contentParts 1 }}
  {{ $parsedFrontMatter := $frontMatter | transform.Unmarshal }}


  <section class="c-block c-block--pd">
    <header class="c-block__header">
      <h2 class="c-block__title e-heading__2" id="{{ $blockData |urlize }}">
        <a href="{{ $response.html_url }}">{{ $parsedFrontMatter.title }} 🔗</a>
      </h2>
      {{ partial "time.html" (dict "blockData" $blockData "time" $parsedFrontMatter.time) }}
    </header>

    <section class="c-copy">{{ $markdownContent | markdownify }}</section>

    {{ with $parsedFrontMatter.objectives }}
      <details class="c-objectives">
        <summary>
          <h3 class="c-objectives__title e-heading__5">Learning Objectives</h3>
        </summary>
        {{ partial "objectives/block.html" . }}
      </details>
    {{ end }}
    {{ with $parsedFrontMatter.prep }}
      <section class="c-copy">
        <h3>Preparation</h3>
        <div class="c-copy__node">{{ . | markdownify }}</div>
      </section>
    {{ end }}
    {{ with $parsedFrontMatter.introduction }}
      <section class="c-copy">
        <h3>Introduction</h3>
        <div class="c-copy__node">{{ . | markdownify }}</div>
      </section>
    {{ end }}
    {{ with $parsedFrontMatter.exercises }}
      <section class="c-copy">
        <h3>Exercises</h3>
        {{ range . }}
          <section class="c-note c-note--exercise">
            <h4 class="c-note__title e-heading e-heading__4">{{ .name }}</h4>
            <div class="c-note__text">
              <p>
                <strong>Goal: </strong>{{ .goal | markdownify }}
                {{ with .time }}({{ . }} minutes){{ end }}
              </p>
              {{ .content | markdownify }}
            </div>
          </section>
        {{ end }}
      </section>
    {{ end }}
  </section>
{{ end }}
