{{ $blockData := .Page.Scratch.Get "blockData" }}
<section class="c-block c-block--youtube">
  <h2
    class="c-block__title e-heading__2 is-invisible"
    id="{{ $blockData.name |urlize }}">
    <a href="{{ $blockData.sot }}">{{ $blockData.name }} 🔗</a>
  </h2>
  <h3 class="c-block__byline e-heading__5">{{ partial "byline.html" }}</h3>
  <div class="c-block__content">
    <!-- register youtube player component -->
    {{ $player := resources.Get "scripts/youtube-player.js" | resources.Minify }}
    <script src="{{ $player.Permalink }}" defer></script>
    <youtube-player data-video-id="{{ $blockData.api }}"></youtube-player>
  </div>
</section>
