{{ $blockData := .Page.Scratch.Get "blockData" }}
{{- page.Store.Set "hasYoutube" true -}}
<section class="c-block c-block--youtube">
  {{ if $blockData }}
    <h2
      class="c-block__title e-heading__2 is-invisible"
      id="{{ $blockData.name |urlize }}">
      <a href="{{ $blockData.sot }}">{{ $blockData.name }} 🔗</a>
    </h2>
  {{ end }}
  <div class="c-block__content">
    <youtube-player data-video-id="{{ $blockData.api }}"></youtube-player>
  </div>
</section>
<pre style="color: red">Youtube .Page.File.Path = {{ .Page.File.Path }}</pre>
<pre style="color: blue">Youtube page.File.Path = {{ page.File.Path }}</pre>
