.l-header {
  @include grid-assign(heading, nav, action, container);

  @include backdrop(true, true, 0.7);
  background-color: var(--theme-color--paper);
  color: var(--theme-color--accent);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: var(--theme-box-shadow);
  grid-template:
    " . ......... . " var(--theme-spacing--1)
    " . container ." minmax(0, 1fr)
    " . ......... ." var(--theme-spacing--1)
    / minmax(var(--theme-spacing--gutter), 1fr) var(--theme-spacing--container) minmax(var(--theme-spacing--gutter), 1fr);

  &__container {
    display: grid;
    grid-template:
      ". heading nav action" min-content
      / 1fr min-content 1fr min-content;
    align-items: center;
  }
  &__heading {
    font: var(--theme-font--brand);
    color: var(--theme-color--brand);
  }
  &__home {
    @include on-event {
      color: var(--theme-color--accent);
      outline: none;
    }
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    gap: var(--theme-spacing--gutter);
  }
}
