{{/* ==================
  This scratch block basically takes a url and converts it to a map containing:
  * TYPE type of block to call, and the options are:
  - gh readme, gh issue, gh pr, pd (for the PD platform), youtube, local block
  * NAME block display name
  * SOT source of truth
  * API converted from the src url based on the type of block
  * TIME time the block takes to complete, if it's overridden in the front matter
  * ISSHORTCODE isShortcode, a boolean to indicate if the block is being called from a shortcode
  * HEADERS headers and auth for any api call
  ==================
*/}}
{{/* REQUIRED INPUT in [[blocks]] block display name */}}
{{ $displayName := .name | default "warning: name is empty" }}
{{/* REQUIRED INPUT in [[blocks]] src */}}
{{ $src := .src | default "warning: src is empty" }}
{{ $pageRef := .page }}
{{/* Initialize the blockData map */}}
{{ .Scratch.Set "blockData" (dict) }}
{{/* Stuff blockData with default keys and vals */}}
{{/* Unless we say otherwise, it's a local block */}}
{{ .Scratch.SetInMap "blockData" "type" "local" }}
{{ .Scratch.SetInMap "blockData" "name" $displayName }}
{{/* Set the source of truth and api defaults to src */}}
{{ .Scratch.SetInMap "blockData" "sot" $src }}
{{ .Scratch.SetInMap "blockData" "api" $src }}
{{ .Scratch.SetInMap "blockData" "isShortcode" false }}
{{ .Scratch.SetInMap "blockData" "caption" .caption | default "" }}
{{ .Scratch.SetInMap "blockData" "hasBlocks" .hasBlocks| default "" }}
{{/* Override any block time */}}
{{ .Scratch.SetInMap "blockData" "time" .time | default "" }}

{{/* Now let's do our headers */}}
{{ $headers := partial "github-auth.html" }}
{{ .Scratch.SetInMap "blockData" "headers" $headers }}

{{/* ==================
  OKAY LET'S OVERRIDE DEFAULTS AND UPDATE THE TYPE
  ======================
*/}}

{{ if ":" | in $src }}
  {{ .Scratch.SetInMap "blockData" "type" "link" }}
{{ end }}

{{ if or (in $src "png") (in $src "webp") (in $src "jpg") (in $src "jpeg") (in $src "gif") }}
  {{ .Scratch.SetInMap "blockData" "type" "slide" }}
{{ else }}
  {{ if "https://github.com" | in $src }}
    {{/* Change base URL to api.github.com */}}
    {{ $newSrc := replace $src "https://github.com/" "https://api.github.com/repos/" }}

    {{ if (in $src "issues") }}
      {{ .Scratch.SetInMap "blockData" "type" "issue" }}
    {{ else if (in $src "pulls") }}
      {{ $newSrc = print $newSrc "?per_page=5&state=open" }}
      {{ .Scratch.SetInMap "blockData" "type" "pullreq" }}
    {{ else }}
      {{ $newSrc = partial "strings/readme-paths" (dict "src" $newSrc) }}
      {{ .Scratch.SetInMap "blockData" "type" "readme" }}
    {{ end }}

    {{ .Scratch.SetInMap "blockData" "api" $newSrc }}
    {{/* TODO pull time from commented out front matter in Github readmes */}}
  {{ end }}

  {{ if "codewars-workshops." | in $src }}
    {{ .Scratch.SetInMap "blockData" "type" "codewars-workshop" }}
  {{ end }}

  {{/* TODO get rid of the old way of bringing in cyf pd and remove hardcoded CYF stuff here */}}
  {{ if or ("cyf-pd.netlify.app" | in $src) ("/pd/"| in $src) }}
    {{ .Scratch.SetInMap "blockData" "type" "pd" }}
    {{ $blockPath := replace $src "https://cyf-pd.netlify.app/blocks/" "pd/blocks/" }}
    {{ $blockPath := replace $blockPath "/readme/" "" }}
    {{ .Scratch.SetInMap "blockData" "api" $blockPath }}
  {{ end }}

  {{ if "youtu" | in $src }}
    {{ .Scratch.SetInMap "blockData" "type" "youtube" }}
    {{ .Scratch.SetInMap "blockData" "api" $src }}
  {{ end }}

{{ end }}
