{{/*
  Loading backlog issues from static JSON

  - $courseRegex matches the course name from the url.
  - $courseName strips the leading/trailing / characters    TODO: This could probably be avoided with a better regex
  - $issuesForModule filters by module name and returns the first element from the resulting array.
  - $IssuesForSprint filters those issues by sprint label

*/}}

{{ $courseRegex := `/(.*?)/` }}
{{ $courseName := (trim (index (findRE $courseRegex .path 1) 0) "/") }}
{{ $foundIssues := slice}}
{{ $issuesForModule := slice}}
{{ $issuesForSprint := slice}}

{{ $courseIssues := index site.Data.backlog.courses $courseName}}

{{ if $courseIssues.modules }}
  {{ $issuesForModule = index (where $courseIssues.modules "name" .backlog) 0}}
{{end}}

{{ if $issuesForModule }}
  {{ $issuesForSprint = where $issuesForModule.sprints "name" .backlog_filter }}
{{ end }}

{{ if $issuesForSprint }}
  {{ $foundIssues = (index $issuesForSprint 0).backlog_tasks}}
{{ end }}

{{ return $foundIssues }}
