{{ $blockData := .Page.Scratch.Get "blockData" }}
{{ $randomImage := resources.Match "images/backgrounds/**.**"| shuffle | first 1 }}
{{ $chip := index $randomImage 0 }}
{{ $chip = $chip.Resize "480x" }}


<section class="c-block c-block--{{ $blockData.type }}">
  <a
    id="{{ $blockData.name |urlize }}"
    href="{{ $blockData.sot }}"
    class="c-chip">
    {{ with $chip }}
      <img
        src="{{ $chip.RelPermalink }}"
        alt=""
        role="presentation"
        class="c-chip__icon c-chip__icon--circle" />
    {{ end }}
    <h4 class="c-chip__title e-heading__2">{{ $blockData.name }}</h4>
    {{ with $blockData.caption }}
      <p class="c-chip__description">🔗 {{ . | markdownify }}</p>
    {{ end }}
  </a>
</section>
