{{ $blockData := .Page.Scratch.Get "blockData" }}
{{ $block := .Page.Site.GetPage $blockData.api }}

{{ if eq $block.Content "" }}
  {{ errorf "Page %s block %s had no content" .Page.Path $blockData.api }}
{{ end }}


<section
  class="c-block c-block--{{ $blockData.type }}"
  aria-labelledby="{{ $blockData.name |urlize }}">
  <div class="c-block__body" tabindex="0">
    <header class="c-block__header">
      <h2
        class="c-block__title e-heading__2"
        id="{{ $blockData.name |urlize }}">
        {{ $block.Title }}
      </h2>
      {{ partial "time.html" . }}
    </header>
    {{ if or $block.Params.Objectives $block.Params.Tasks }}
      <details open>
        <summary><h3 class="e-heading__5">Learning Objectives</h3></summary>
        {{ with $block.Params.Objectives }}
          {{ partial "objectives/block.html" . }}
        {{ end }}
        {{ with $block.Params.Tasks }}
          {{ partial "objectives/block.html" . }}
        {{ end }}
      </details>
    {{ end }}
    <div class="c-block__content c-copy">
      {{ $block.Content }}
    </div>
    {{/* You can attach a range of nested blocks as options
      It can be quite a lot of content so it comes in accordions
    */}}
    {{ with $blockData.hasBlocks }}
      <section class="c-block__nested">
        <h3>🗂️ Options</h3>
        {{ range . }}
          {{ range $block := . }}
            {{ $blockDict := dict "block" $block "Page" $.Page "Site" site }}
            {{ partial "block/nested.html"  $blockDict }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
  </div>
</section>
