{{ $blockData := .Page.Scratch.Get "blockData" }}
{{ $pageContext := . }}
{{ $tab_set_id := $blockData.name | anchorize }}
{{ $issueForm := print site.Params.org "/" site.Params.pdrepo "/issues/new?assignees=&labels=Feedback&template=feedback_template.yml&title=Feedback+on+" ($blockData.name | urlize) }}

{{ with .Page.Site.GetPage $blockData.api }}
  <section
    class="c-block c-block--{{ $blockData.type }}"
    aria-labelledby="{{ $blockData.name |urlize }}">
    <header class="c-block__header">
      <h2
        class="c-block__title e-heading__2"
        id="{{ $blockData.name |urlize }}">
        {{ .Title }}
      </h2>
      <a href="{{ $issueForm }}" class="c-block__feedback e-button"
        >🤙🏽 Feedback</a
      >
      {{ partial "time.html" $pageContext }}
    </header>

    {{ with .Content }}
      <section class="c-copy">{{ . | page.RenderString }}</section>
    {{ end }}


    <tab-panels class="c-tabs c-tabs--pd">
      <div class="c-tabs__list" id="{{ $tab_set_id }}" role="tablist">
        <button
          data-toggle="tab"
          id="tab-label-intro"
          class="c-tabs__tab is-active e-heading__5"
          role="tab"
          aria-controls="{{ $tab_set_id }}-intro"
          aria-selected="true">
          👉🏽 PD Session
        </button>
        {{ range $index, $item := .Params.Exercises }}
          <button
            data-toggle="tab"
            id="tab-label-{{ $item.name | anchorize }}"
            class="c-tabs__tab e-heading__5"
            role="tab"
            aria-controls="{{ $tab_set_id }}-{{ $item.name | anchorize }}"
            aria-selected="false">
            🧩 {{ add 1 $index }})
            {{ trim $item.name " "  | truncate 20 }}
          </button>
        {{ end }}
      </div>

      <div class="c-tabs__group" id="{{ $tab_set_id }}">
        <div
          id="{{ $tab_set_id }}-intro"
          class="c-tabs__panel c-tabs__panel--pd is-active"
          role="tabpanel"
          aria-labelledby="tab-label-intro">
          {{ with .Params.Objectives }}
            <details open class="c-objectives">
              <summary>
                <h3 class="c-objectives__title e-heading__5">
                  Learning Objectives
                </h3>
              </summary>
              {{ partial "objectives/block.html" . }}
            </details>
          {{ end }}
          {{ with .Params.Prep }}
            <section class="c-copy">
              <h3>Preparation</h3>
              <div class="c-copy__node">{{ . | page.RenderString }}</div>
            </section>
          {{ end }}
          {{ with .Params.Introduction }}
            <section class="c-copy">
              <h3>Introduction</h3>
              <div class="c-copy__node">{{ . | page.RenderString }}</div>
            </section>
          {{ end }}
        </div>

        {{ with .Params.Exercises }}
          {{ range . }}
            <div
              id="{{ $tab_set_id }}-{{ .name | anchorize }}"
              class="c-tabs__panel c-tabs__panel--pd"
              role="tabpanel"
              aria-labelledby="tab-label-{{ .name | anchorize }}">
              <h4 class="e-heading e-heading__4">{{ .name }}</h4>
              <p>
                🎯 <strong>Goal: </strong>{{ .goal | page.RenderString }}
                {{ with .time }}({{ . }} minutes){{ end }}
              </p>
              {{ .content | page.RenderString }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </tab-panels>
  </section>
{{ end }}
