{{ $blockData := .Page.Scratch.Get "blockData" }}
{{ $block := .Page.Site.GetPage $blockData.api }}

{{ if eq $block.Content "" }}
  {{ errorf "Page %s block %s had no content" .Page.Path $blockData.api }}
{{ end }}


<section
  class="c-block c-block--{{ $blockData.type }}"
  aria-labelledby="{{ $blockData.name |urlize }}">
  <div class="c-block__body" tabindex="0">
    <header class="c-block__header">
      <h2
        class="c-block__title e-heading__2"
        id="{{ $blockData.name |urlize }}">
        {{ $block.Title }}
      </h2>
      {{ partial "time.html" . }}
    </header>
    {{ with $block.Params.Objectives }}
      <details>
        <summary><h3 class="e-heading__5">Learning Objectives</h3></summary>
        {{ partial "objectives/block.html" . }}
      </details>
    {{ end }}
    {{ if $blockData.ideas }}
      <h3>{{ $block.Params.IdeasSubtitle }}</h3>
      <ul>
      {{ range $blockData.ideas }}  
        <li><a href="https://github.com/CodeYourFuture/CYF-Workshops/tree/main/{{ . }}" target="_blank">{{ . }}</a></li>
      {{ end }}
      </ul>
    {{ end }}
    <div class="c-block__content c-copy">{{ $block.Content }}</div>
  </div>
  <footer class="c-block__footer">
    <h3>Notes</h3>
    {{ with $block.Params.Objectives }}
      <confetti-checkboxes
        ><h5>Learning Objectives</h5>
        {{ partial "objectives/block.html" . }}
      </confetti-checkboxes>
      {{ $confetti := resources.Get "scripts/confetti-checkboxes.js" | resources.Minify }}
      <script src="{{ $confetti.Permalink }}" type="module" defer></script>
    {{ end }}
    {{ if $block.Params.activities }}
      <h5 class="e-heading__5 is-invisible">Activities</h5>
      <ul class="c-term__list c-label__list">
        {{ range $key, $value := $block.Params.activities }}
          {{ with site.GetPage (printf "/activities/%s" $value) }}
            <li
              class="c-term c-label"
              style="--color:var(--theme-color--block);">
              <a class="c-term__link c-label__name" href="{{ .Permalink }}">
                <span class="c-term__emoji c-label__emoji"
                  >{{ .Params.emoji | default "📛" }}</span
                >
                <span class="c-term__text c-label__text">{{ .Title }}</span></a
              >
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </footer>
</section>
