.c-pr-overview {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--theme-spacing--container-min), 1fr)
  );
  gap: var(--theme-spacing--2);
  margin-bottom: var(--theme-spacing--4);

  &__card {
    box-shadow: var(--theme-box-shadow--slim);
    padding: var(--theme-spacing--1);
  }
}

.e-dl {
  display: grid;
  grid-template-columns: max-content auto;
}

.e-dt {
  grid-column-start: 1;
}

.e-dd {
  grid-column-start: 2;
}

.age-container .count.problem {
  font-weight: bolder;
}

.age-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.age-container .age-bucket {
  font-size: medium;
  text-align: center;
}
