{{ $name := .block.name | default "error" }}
{{ $src := .block.src }}
{{ $blockPath := printf "blocks/%s" $name }}
{{ $onlyObjectives := .Page.Layout }}

{{ if eq $src "module" }}
  {{ $blockPath = printf "%s/blocks/%s" .Page.Section $name }}
{{ end }}
{{ $block := .Page.Site.GetPage $blockPath }}
{{ $internal := true }}
<!-- blocks either live on github, on youtube, or in the blocks folder -->
<!-- if block is on youtube, use the youtube partial -->
{{ if "youtube" | in $src }}
  {{ $internal = false }}
  {{ partial
    "block-youtube.html" .
  }}
{{ end }}
<!-- if block is on github, use the github partial -->
{{ if "github" | in $src }}
  {{ $internal = false }}
  {{ partial "block-github.html"
    .
  }}
{{ end }}
<!-- if block is in the blocks folder, use this block partial -->
{{ if $internal }}
  <!-- if this is a success page, only print the objectives -->
  {{ if eq $onlyObjectives "success" }}
    {{ with $block.Params.Objectives }}
      {{ partial "objectives-block.html" . }}
    {{ end }}
  {{ else }}
    <section class="c-block">
      <header class="c-block__header">
        <h2 class="c-block__title e-heading__2" id="{{ $name |urlize }}">
          {{ $block.Title }}
        </h2>
        <div class="c-block__lastmod">{{ partial "lastmod.html" . }}</div>
        <time
          class="c-block__time"
          datetime="P{{ $block.Params.time | default 60 }}M"
          >{{ $block.Params.time }} minutes</time
        >
      </header>
      {{ with $block.Params.Objectives }}
        <details>
          <summary><h3 class="e-heading__5">Learning Objectives</h3></summary>
          {{ partial "objectives-block.html" (dict "Heading" false "Objectives" .) }}
        </details>
      {{ end }}
      <div class="c-block__content c-copy">{{ $block.Content }}</div>
    </section>
  {{ end }}
{{ end }}
