{{ $blockData := .Page.Scratch.Get "blockData" }}
{{ $response := getJSON $blockData.api }}

{{ if $response }}
  <section class="c-block">
    <header class="c-block__header">
      <h2
        class="c-block__title e-heading__2"
        id="{{ $blockData.name |urlize }}">
        <a href="{{ $response.html_url }}">{{ $blockData.name }} 🔗</a>
      </h2>
      {{ partial "byline.html" (dict "context" "c-block__byline" "block" .) }}
      <time class="c-block__time" datetime="P60M">60 minutes</time>
    </header>
    <div class="c-block__content c-copy">
      {{ $response.content | base64Decode | markdownify }}
    </div>
  </section>
{{ else }}
  <h3>Cannot get a response</h3>
{{ end }}
