<footer class="l-layout__footer l-footer">
  <a
    class="l-footer__github e-button e-button--icon"
    href="{{ $.Site.Params.repo }}">
    {{ partial "github-icon.html" . }}
    <span class="is-invisible">Find us on GitHub</span>
  </a>
  <p class="l-footer__impressum e-heading__6">
    This
    <a href="{{ $.Site.Params.repo }}">free and open source programme</a>
    is a project of
    <a href="https://codeyourfuture.io">Code Your Future</a>
    <br />
    Creative Commons Attribution-ShareAlike 4.0
  </p>
  <dark-mode></dark-mode>
</footer>
