<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ if .Page.Params.description }}
    <meta name="description" content="{{ .Page.Params.description }}" />
  {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}" />
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- suppress FOUC-->
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      animation: fade-in 10ms;
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>
  {{ $sass := resources.Match "styles/**.scss" | resources.Concat
    "bundled.css"
  }}
  {{ $style := $sass | toCSS | minify | fingerprint "md5" }}
  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    media="print"
    onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  </noscript>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&family=Inter:wght@400;600&display=swap"
    rel="stylesheet"
    media="print"
    onload="this.media='all'" />

  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" />
  <meta name="theme-color" content="#e3ddeef2" />
  <link rel="manifest" href="manifest.json" />
  <script src="{{ .Site.BaseURL }}sw.js"></script>
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", function () {
        navigator.serviceWorker.register("/sw.js").then(
          function (registration) {
            console.log(
              "ServiceWorker registration successful with scope: ",
              registration.scope
            );
          },
          function (err) {
            console.log("ServiceWorker registration failed: ", err);
          }
        );
      });
    }
  </script>
</head>
