{{ $repo := .Params.backlog }}
{{ $issues := print .Site.Params.orgapi $repo "/issues?per_page=100" }}
{{ $filter := .Params.backlog_filter }}
<!-- api call -->
{{ $headers := (dict) }}
{{ if ne (os.Getenv "CYF_CURRICULUM_GITHUB_BEARER_TOKEN") "" }}
  {{ $headers = merge $headers (dict "Authorization" (printf "Bearer %s" (getenv "CYF_CURRICULUM_GITHUB_BEARER_TOKEN"))) }}
{{ end }}
{{ $commitObject := getJSON $issues $headers }}
<!-- if no object show error -->
{{ if ne $commitObject nil }}
  <!-- range over issues list and pull out useful data -->
  {{ range $commitObject }}
    <!-- only show open issues -->
    {{ if eq .state "open" }}
      {{ $showIssue := true }}
      <!-- if a filter exists, only show issues with the right label -->
      {{ if $filter }}
        {{ $showIssue = false }}
        {{ range .labels }}
          {{ if in .name
            $filter
          }}
            {{ $showIssue = true }}
          {{ end }}
        {{ end }}
      {{ end }}
      <!-- now show the issue -->
      {{ if $showIssue }}
        {{ if strings.Contains .body "_No response_" }}
          {{ errorf "Issue %s contains _No response_ - please edit the issue to remove it." .html_url }}
        {{ end }}
        <details class="c-issue">
          <summary class="c-issue__title e-heading__3">
            {{ .title }} <a class="c-issue__link" href="{{ .html_url }}">🔗</a>
          </summary>
          <div class="c-issue__body">{{ .body | markdownify }}</div>
        </details>
        {{ with .labels }}
          <ul class="c-issue__labels">
            {{ range . }}
              <li class="c-issue__label" style="--github:#{{ .color }}4d">
                <span class="c-issue__label-name" title="{{ .description }}">
                  {{ .name }}
                </span>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ errorf "Error, fetch of %s failed: %v" $issues $commitObject }}
{{ end }}
