{{/* global */}}
{{ $scripts := resources.Get "scripts/app.js" | resources.Minify }}
<script src="{{ $scripts.Permalink }}" defer></script>

{{/* components
  set the page store to true in the partial and then load your resources here
*/}}
{{ if .Page.Store.Get "hasMermaid" }}
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs"></script>
{{ end }}
{{ if .Page.Store.Get "hasYoutube" }}
  {{ $player := resources.Get "scripts/youtube-player.js" | resources.Minify }}
  <script src="{{ $player.Permalink }}" defer></script>
{{ end }}
{{ if .Page.Store.Get "hasCodeMirror" }}
  {{ $codemirror := resources.Get "scripts/cm6.ts" | js.Build | resources.Minify }}
  <script src="{{ $codemirror.Permalink }}" defer></script>
{{ end }}
{{ if .Page.Store.Get "hasTabs" }}
  {{ $tabs := resources.Get "scripts/tab-panels.js" | resources.Minify }}
  <script src="{{ $tabs.Permalink }}" type="module" defer></script>
{{ end }}
