<link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
<style>
  :root {
    --pagefind-ui-primary: var(--theme-color--ink);
    --pagefind-ui-text: var(--theme-color--ink);
    --pagefind-ui-background: var(--theme-color--paper);
    --pagefind-ui-border: var(--theme-color--outline);
    --pagefind-ui-tag: var(--theme-color--block);
    --pagefind-ui-border-radius: 2em;
    --pagefind-ui-image-border-radius: var(--theme-border-radius);
    --pagefind-ui-font: var(--theme-font--copy);
  }
  .pagefind-ui--reset {
    background-color: var(--theme-color--paper);
    position: absolute;
  }
  #search .pagefind-ui__form::before {
    width: calc(44px * var(--pagefind-ui-scale));
    height: calc(44px * var(--pagefind-ui-scale));
    top: calc(9px * var(--pagefind-ui-scale));
    right: calc(21px * var(--pagefind-ui-scale));
    left: initial;
    opacity: 1;
  }
</style>
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<div id="search" class="l-header__search"></div>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({ element: "#search" });
  });
</script>
