.c-block {
  background-color: var(--theme-color--paper-fade);
  z-index: 2;
  position: relative;
  padding: var(--theme-spacing--2) var(--theme-spacing--gutter)
    var(--theme-spacing--3);
  width: 100%;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: var(--theme-spacing--1) 0 var(--theme-spacing--gutter) 0;
  }

  &__series {
    display: grid;
    gap: var(--theme-spacing--gutter);
  }

  &__title {
    text-transform: lowercase;
    > a:not([class]) {
      text-decoration: none;
    }
  }

  &--youtube {
    text-align: center;
    padding: var(--theme-spacing--4) 0;
    border: 0;
  }

  .c-block__series--timeline & {
    box-shadow: var(--theme-box-shadow--slim);

    &__lastmod {
      display: none;
    }

    &__time {
      font-size: var(--theme-type-size--6);
    }
  }
}
