// this is an ordered list
// each list item contains an author's name and avatar
// it's attached to a block and pulled from github directly
// the first item in the list of authors on a block is just the github icon
// TODO: write small animation
// The other authors are shown as a little stack of coins underneath the github icon
// by coin I mean an icon of 50px with a clip-path circle
// the chip is a link to the author's github profile
// the name is hidden

// when I hover the github icon
// then the other coins spring out from underneath to describe an arc
// when I hover or focus a coin
// then the name is revealed

// the motion is bouncy and playful

.c-byline {
  display: flex;
  @include on-event {
    animation: unfold 0.3s forwards;
  }

  &__link {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    filter: drop-shadow(2px 2px 0 var(--theme-color--accent));
  }
  &__avatar {
    background-color: var(--theme--color--pop);
    clip-path: circle();
    height: 50px;
  }

  &__name {
    font-size: 0;
  }
}

@keyframes unfold {
  0% {
    height: var(--chip-height);
  }
  100% {
    height: initial;
  }
}
