.c-card {
  height: 100%;
  @include grid-assign(image, description, title);
  @include block(false, true, true, true);
  grid-template:
    "image image image" auto
    ".     .      ." var(--theme-spacing--1)
    ".     title  ." auto
    ".    description  ." auto
    ".     .      ." var(--theme-spacing--1) / var(--theme-spacing--1) 1fr var(--theme-spacing--1);

  @media (min-width: 700px) {
    grid-template:
      ". .           . .     ." var(--theme-spacing--gutter)
      ". title       . image ." auto
      ". description . image ." 1fr
      ". .           . .     ." var(--theme-spacing--gutter)
      / var(--theme-spacing--1) minmax(var(--theme-spacing--container-min), 1fr)
      var(--theme-spacing--1) 1fr var(--theme-spacing--gutter);
  }

  @include on-event {
    transform: translate(0.5px, 1px);
    box-shadow: 0px 0px 0 var(--theme-color--pop),
      0px 0px 0 var(--theme-color--accent);
  }

  &__image {
    font-size: clamp(48px, calc(48px + 5vw), 280px);
    text-align: right;
    transition: filter 10s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @include on-event(false, ".c-card") {
      filter: grayscale(0) hue-rotate(360deg);
    }
  }
}
