// TODO I want to intercede in the gfm task list with a render hook as their version is not accessible
// so I've left the classes off for now until I understand how to do this
.c-objectives {
  &__title {
    margin-bottom: var(--theme-spacing--gutter);
  }

  &__item {
    label {
      cursor: pointer;
      position: relative;
      padding-left: 1.5em;
      display: inline-block;
      user-select: none;
    }

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    input[type="checkbox"] + span::before {
      content: "☑️";
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.2s;
    }

    input[type="checkbox"]:checked + span::before {
      content: "✅";
    }
  }
}
