.c-tabs {
  display: block;
  --outset: calc(-1 * var(--theme-spacing--gutter));
  --tabline: 1px;
  margin: 0 var(--outset) var(--theme-spacing--6);
  &__list {
    display: flex;
  }
  &__tab {
    cursor: pointer;
    font-family: var(--theme-font--display);
    transform: translateY(2px);
    padding: var(--theme-spacing--1) var(--theme-spacing--2);
    border-top: var(--tabline) solid var(--theme-color--outline);
    border-right: var(--tabline) solid var(--theme-color--outline);
    border-bottom: none;
    border-left: var(--tabline) solid var(--theme-color--outline);
    background: var(--theme-color--paper);
    box-shadow: var(--theme-box-shadow--top);
    color: currentColor;
    place-content: center;
    transform: translateY(5px);
    &.is-active,
    &:hover,
    &:focus {
      z-index: 2;
      transform: translateY(3px);
    }
  }
  &__group {
    display: grid;
    grid-template: "tab";
    padding: var(--tabline);
  }

  &__panel {
    grid-area: tab;
    padding: var(--theme-spacing--4) var(--theme-spacing--gutter);
    background: var(--theme-color--paper);
    box-shadow: var(--theme-box-shadow--slim);
    border-radius: var(--theme-border-radius);
    border-top-left-radius: 0;
    opacity: 0;

    &.is-active {
      opacity: 1;
      z-index: 1;
    }
  }
  // a much subtler tab style for module indices so info can be loaded in without overwhelming
  &--module {
    margin: 0 0 var(--theme-spacing--6);
  }
}
