ul.c-block, ol.c-block, li.c-block {
  @extend %list-without-list-formatting;
}

.c-block {
  scroll-snap-align: start;
  background-color: var(--theme-color--paper-fade);
  z-index: 2;
  position: relative;
  padding: var(--theme-spacing--2) var(--theme-spacing--gutter)
    var(--theme-spacing--3);
  width: 100%;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: var(--theme-spacing--1) 0 var(--theme-spacing--gutter) 0;
    gap: var(--theme-spacing--gutter);
  }

  &__objectives {
    width: 100%;
  }

  &__series {
    display: grid;
    gap: var(--theme-spacing--gutter);
  }

  &__title {
    > a:not([class]) {
      text-decoration: none;
    }
    scroll-margin-top: var(--theme-spacing--scrollmargin);
  }

  &__feedback {
    margin: auto 0 auto auto;
  }

  &--link {
    padding: var(--theme-spacing--2) var(--theme-spacing--gutter)
      var(--theme-spacing--3) 0;
  }

  &--youtube {
    text-align: center;
    padding: 0;
    border: 0;
    box-shadow: none;
  }

  &--pullreq {
    background-image: linear-gradient(
      -90deg,
      var(--theme-color--accent-shade),
      var(--theme-color--paper),
      var(--theme-color--paper),
      var(--theme-color--paper)
    );
  }
  // on a day plan we have a load of blocks and the shadow is too much

  .c-block__series--timeline & {
    box-shadow: var(--theme-box-shadow--slim);
    &__time {
      font-size: var(--theme-type-size--6);
    }
  }
  // TODO track down and rm this
  &--pd.c-block {
    box-shadow: none;
    border: none;
    padding-bottom: 0;
  }

  &__time {
    cursor: pointer;
    color: var(--theme-color--ink);
    @include on-event(false) {
      color: var(--theme-color--pop);
    }
  }

  &--codewars-workshop iframe {
    width: 100%;
    height: 90vh;
  }
}
