.c-breadcrumbs {
  &__list {
    @extend %list-without-list-formatting;
    display: flex;
    align-items: center;
    gap: var(--theme-spacing--1);
    font: var(--theme-font--ui);
    font-size: var(--theme-type-size--5);
  }

  &__link {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    @include on-event {
      text-decoration: overline 3px solid var(--theme-color--accent);
      outline: none;
      .c-breadcrumbs__icon {
        color: var(--theme-color--pop);
      }
    }
  }

  &__text {
    .c-page-header--solo & {
      @media (min-width: $c-med) {
        max-width: 7ch;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }
  }

  &__icon {
    height: 1em;
    min-width: 6px;
  }

  &__item {
    @extend %list-without-list-formatting;
  }
}
