.cm-editor {
  background-color: #272822;
  padding: var(--theme-spacing--gutter);

  .cm-scroller {
    font: var(--theme-font--code);
  }

  .hl_line:not(.cm-activeLine) {
    background-color: var(--theme-color--accent-shade);
  }
}
