.c-contributors,
ol.c-contributors {
  @extend %list-without-list-formatting;
  display: flex;
  flex-flow: row wrap;
  gap: var(--theme-spacing--3) var(--theme-spacing--2);
  margin: 0 0 var(--theme-spacing--6);
  max-width: none;
}
.c-contributor {
  @extend %list-without-list-formatting;
  flex: 0 1 auto;
  display: grid;
  @include grid-assign(avatar, name, commits);
  grid-template:
    "avatar .... commits" 1fr
    "avatar name name" auto
    "avatar .... ......." 1fr/ 50px 1fr min-content;
  gap: var(--theme-spacing--1);

  &__name {
    margin: auto auto auto 0;
    font-weight: 100;
    @include on-event(false, ".c-contributor") {
      text-decoration: underline;
    }
  }
  &__avatar {
    clip-path: circle();
  }
  &__commits {
    width: 4ch;
    height: 4ch;
    background-color: var(--theme-color--accent);
    color: var(--theme-color--paper);
    clip-path: var(--polystar);
    display: grid;
    place-content: center;
    grid-area: avatar;
    z-index: 1;
  }

  --polystar: polygon(
    13% 13%,
    30% 13%,
    37% 0%,
    50% 8%,
    62% 0%,
    70% 13%,
    87% 13%,
    87% 30%,
    100% 37%,
    92% 50%,
    100% 62%,
    87% 70%,
    87% 87%,
    70% 87%,
    62% 100%,
    50% 92%,
    37% 100%,
    30% 87%,
    13% 87%,
    13% 70%,
    0% 62%,
    8% 50%,
    0% 37%,
    13% 30%
  );
}
