.c-issue {
  ~ .c-issue:not(.c-issue--pr) {
    padding-top: var(--theme-spacing--6);
  }
  &__title {
    font-weight: 300;
    margin-bottom: var(--theme-spacing--1);
  }
  &__body {
    padding: var(--theme-spacing--gutter);
    max-width: var(--theme-spacing--linelength);
    box-shadow: var(--theme-box-shadow);
    border-radius: var(--theme-border-radius);

    h3 {
      font-size: var(--theme-type-size--4);
    }
  }

  &__labels {
    @extend %list-without-list-formatting;
    display: flex;
    flex-flow: row wrap;
    gap: var(--theme-spacing--1);
  }
  &__label,
  &__button {
    @extend %list-without-list-formatting;
    background: var(--github);
    font: 600 var(--theme-type-size--6) system-ui;
    border: 1px solid;
    border-radius: 1em;
    &-name {
      display: inline-block;
      padding: 0.125em 0.5em;
    }
  }
  &__button {
    display: block;
    margin: 0 0 auto auto;
    width: max-content;
  }
}
