//styled after github labels
.c-label {
  background: var(--color);
  font: 600 var(--theme-type-size--6) system-ui;
  border: 1px solid;
  border-radius: 1em;
  &__name {
    display: inline-block;
    padding: 0.125em 0.5em;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: var(--theme-spacing--1);
  }
}
