//styled after github labels
.c-label {
  @extend %list-without-list-formatting;
  background: var(--color);
  font: 600 var(--theme-type-size--6) system-ui;
  border: 1px solid;
  border-radius: 1em;

  &:not(:has(.c-label__name)) {
    padding: 0.125em 0.5em;
  }
  &__name {
    display: inline-block;
    padding: 0.125em 0.5em;
  }
  &__text {
    font-size: 0;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.25, 1.375, 0.25, 1);
    @include on-event(false, ".c-label") {
      font-size: var(--theme-type-size--6);
      opacity: 1;
    }
  }
  &__list {
    @extend %list-without-list-formatting;
    display: flex;
    flex-flow: row wrap;
    gap: var(--theme-spacing--1);
  }
}
