// TODO I want to intercede in the gfm task list with a render hook as their version is not accessible
// so I've left the classes off for now until I understand how to do this
.c-objectives {
  margin-bottom: var(--theme-spacing--gutter);
  &__title {
    margin-bottom: 0;
  }
  &__item {
    @extend %list-without-list-formatting;
  }
  &__list {
    @extend %list-without-list-formatting;
  }
}

// markdown checklist we are trying to hijack from gfm

li:has(input[type="checkbox"]) {
  padding: 0;
  margin: 0 0 var(--theme-spacing--1) 0;
  list-style: none;
  &::before {
    content: "☑️ ";
    font-size: 22px;
  }
  label {
    padding-left: calc(22px + 1ch);
    margin-left: calc(-1 * calc(22px + 1ch));
    cursor: pointer;
  }
}
li:has(input[type="checkbox"]:checked) {
  &::before {
    content: "✅ ";
  }
}
ul:has(input[type="checkbox"]) {
  margin: 0 0 var(--theme-spacing--3) 0;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
}
