.c-page-footer {
  padding-top: var(--theme-spacing--6);
  &__nav {
    gap: var(--theme-spacing--1);
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--theme-font--display);
  }
}
