{{/* example usage:
  {{<multiple-choice
  question="What is the purpose of an energiser?"
  answers="To get everyone engaged and ready to learn | To burn an hour of the morning | To upset everyone | To make everyone sleepy"
  feedback="Right! The purpose of an energiser is to get everyone engaged and ready to learn. | Think again: what are energisers for? | No, that's not the purpose of an energiser | Not quite! Energisers are meant to wake people up, not make them sleepy."
  correct="0"
>}}

*/}}
{{ $question := .Get "question" }}
{{ $answers := split (.Get "answers")  "|" }}
{{ $feedback := split (.Get "feedback" | default "") "|" }}
{{ $correct := (.Get "correct") }}

{{ partial "multiple-choice" (dict "question" $question "answers" $answers "feedback" $feedback "correct" $correct) }}
