{{- $emojis := dict
  "caution" ":exclamation:"
  "important" ":loudspeaker:"
  "note" ":memo:"
  "tip" ":bulb:"
  "warning" ":warning:"
  "activity" ":joystick:"
  "exercise" ":writing_hand:"
  "definition" ":open_book:"
-}}
{{- $title := .Get "title" | default (.Get "type") | default "Note" -}}
{{- $noteType := .Get "type" | default "note" -}}
<section class="c-note c-note--{{$noteType}}">
  <h4 class="c-note__title e-heading__4">
    {{- transform.Emojify (index $emojis $noteType) -}}
      {{- or (i18n $noteType) ($title) -}}</span>
  </h4>
  <div class="c-note__text ">{{- .Inner  | markdownify -}}</div>
</section>
{{/* Example usage:

  {{<note title="Yo" type="tip"
>}}
This is a note. 
We probably want to use github notes mostly now, 
so look in render-blockquote.html for the new syntax.
But this is good for nesting more shortcodes inside, as render hooks struggle
*/}}
