<!--prettier-ignore-->
{{/* Example usage
{{<tabs name="NAME HERE">}}
===[[TAB 1 title]]  
TAB 1 content  
===[[TAB 2 title]]  
TAB 2 content
{{< /tabs >}}
*/}}
{{- $tab_set_id := .Get "name" | default (printf "tabset-%s-%d" (.Page.RelPermalink) time.Now ) | anchorize -}}
{{/* Same as columns, slice on custom delimiter */}}
{{ $tabs := split .Inner "===[[" }}
{{ if lt (len $tabs) 2 }}
  {{ errorf "Tabs must have more than one tab. Remove tab formatting on %v and consider note instead" .Page }}
{{ end }}
{{/* Skip the first item in the slice which is always empty */}}
{{ $tabs = after 1 $tabs }}
<tab-panels class="c-tabs">
  <div class="c-tabs__list" id="{{ $tab_set_id }}" role="tablist">
    {{- range $index, $tab := $tabs -}}
      {{- if ne $tab "" -}}
        {{- $id := printf "%s-%d" $tab_set_id $index -}}
        {{- $tabParts := split $tab "]]" -}}
        {{- $tabName := index $tabParts 0 -}}
        <button
          data-toggle="tab"
          id="tab-label-{{ $id }}"
          class="c-tabs__tab e-heading__5 space {{ if (eq $index 0) }}
            is-active
          {{- end -}}"
          role="tab"
          aria-controls="{{ $id }}"
          aria-selected="{{- if (eq $index 0) -}}
            true
          {{- else -}}
            false
          {{- end -}}">
          {{ $tabName }}
        </button>
      {{- end -}}
    {{- end -}}
  </div>
  <div class="c-tabs__group" id="{{ $tab_set_id }}">
    {{- range $index, $tab := $tabs -}}
      {{- if ne $tab "" -}}
        {{- $id := printf "%s-%d" $tab_set_id $index -}}
        {{- $tabParts := split $tab "]]" -}}
        {{- $content := index $tabParts 1 -}}
        <div
          id="{{ $id }}"
          class="c-tabs__panel {{ if (eq $index 0) }}is-active{{ end }}"
          role="tabpanel"
          aria-labelledby="tab-label-{{ $id }}">
          {{ $.Page.RenderString  $content }}
        </div>
      {{- end -}}
    {{- end -}}
  </div>
</tab-panels>
