@mixin light-palette {
  // these brand colours are set and then everything else is derived from the key
  --theme-color--brand: rgb(21, 212, 190);
  --theme-color--brand-shade: rgba(21, 212, 190, .05);
  // this is picked from CYF Canva brand palette and we will take the hue from this
  --theme-color--accent: rgb(21, 212, 190);
  --theme-color--accent-shade: hsla(146, 100%, 46%, 0.5);
  // this is the nearest accessible shade to brand red
  --theme-color--pop: hsla(262, 100%, 62%, 1);

  // key
  --hue: 247;
  //signals should stay green, but let's pick it from brand
  --theme-color--good: hsla(146, 83%, 60%, 0.5);
  --theme-color--bad: var(--theme-color--brand-shade);
}

@mixin dark-palette {
  --hue: 247;
}
