:root {
  --theme-font--display: "Space Grotesk", "Raleway", monospace;
  --theme-font--copy: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --theme-font--system: 100 100%/2 "Fira Mono", "Monaco", "Menlo", monospace;
}
