{{ $title := .Get "title" | default "tooltip" }}
{{ $emoji := .Get "emoji" | default "🙋🏽" }}


<tool-tip-container>
  <strong class="tooltip__trigger" id="trigger__{{ $title }}" tabindex="0">
    {{ $title }}
  </strong>
  <span class="tooltip__emoji">{{ $emoji }}</span>
  <tool-tip role="tooltip" aria-labelledby="{{ $title }}">
    <span class="tooltip__title e-heading__2">{{ $title }}</span>
    <span class="tooltip__content">
      {{ .Inner | markdownify }}
    </span>
  </tool-tip>
</tool-tip-container>
