<section>
  <h4>Character limit</h4>
  <input id="word-limit-input" type="text" />
  <label id="word-limit-label" for="input">120 characters remaining</label>
</section>
<script>
  const characterLimit = 120;

  function getCharacterCount() {
    const input = document.querySelector("#word-limit-input");
    return input.value.length;
  }

  function updateLabel() {
    const characterCount = getCharacterCount();
    const charactersLeft = characterLimit - characterCount;
    const inputLabel = document.querySelector("#word-limit-label");
    inputLabel.innerText = `${charactersLeft} characters remaining`;
  }

  const input = document.querySelector("#word-limit-input");
  input.addEventListener("keyup", function handleKeyUp() {
    updateLabel();
  });
</script>
