<footer class="l-layout__footer l-footer">
  <a
    class="l-footer__github e-button e-button--icon"
    href="{{ $.Site.Params.repo }}">
    {{ partial "github-icon.html" . }}
    <span class="is-invisible">Find us on GitHub</span>
  </a>
  <p class="l-footer__impressum e-heading__6">
    This
    <a href="{{ $.Site.Params.repo }}">free and open source programme</a>
    is a project of
    <a href="{{$.Site.Params.main_website}}">{{ $.Site.Params.main_org_name }}</a>
    <br />
    Creative Commons Attribution-ShareAlike 4.0
  </p>
  <dark-mode class="l-footer__mode"
    ><button
      slot="button"
      id="mode-toggle"
      type="button"
      class="e-button e__button--toggle e-button--icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="e-icon e__button__icon e-icon--moon">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
      </svg>
      <span class="is-invisible">Toggle between light and dark mode</span>
    </button></dark-mode
  >
</footer>
