<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {{ with .Params.noindex }}
    <meta name="robots" content="noindex" />
  {{ end }}
  <title data-pagefind-meta="title">
    {{ range after 1 .Ancestors.Reverse }}
      {{ print (title .Title|default "CYF") " " }}
    {{ end }}
    {{ title .Title }}
  </title>
  {{ if .Page.Params.description }}
    <meta
      name="description"
      content=" {{ .Site.Title }}: {{ .Page.Params.description }}" />
  {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}" />
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- suppress FOUC-->
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      animation: fade-in 300ms;
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>
  {{ $sass := resources.Match "styles/**.scss" | resources.Concat
    "bundled.css"
  }}
  {{ $style := $sass | toCSS | minify | fingerprint "md5" }}
  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    media="print"
    onload="this.media='all'" />

  {{ $customCSS := resources.Match "custom-theme/**.scss" }}
  {{ with $customCSS }}
    {{ $customCSS := $customCSS | resources.Concat "custom.css" }}
    {{ $customCSS := $customCSS | toCSS | minify | fingerprint "md5" }}
    <link
      rel="stylesheet"
      href="{{ $customCSS.RelPermalink }}"
      media="print"
      onload="this.media='all'" />
  {{ end }}


  <noscript>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  </noscript>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="{{ .Site.Params.googleFonts }}"
    rel="stylesheet"
    media="print"
    onload="this.media='all'" />

  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" />
  <meta name="theme-color" content="#e3ddeef2" />
  <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json" />
  <link rel="stylesheet" href="/css/custom.css" /> 

</head>
