{{/* This is a page, basically, not a block, so we don't go via blockData for now */}}
{{ $repo := .Params.backlog }}
{{ $issuesUrlBase := print $.Site.Params.orgapi $repo "/issues?per_page=100&state=open&direction=asc&page=" }}
{{ $filter := .Params.backlog_filter }}
{{ $currentPath := .Page.RelPermalink }}
{{ $headers := partial "github-auth.html" }}
{{/* <!-- walk through paginated issues --> */}}
{{ .Page.Scratch.Set "issues" slice }}
{{ partial "fetch-paginated-issues.html" (dict "Scratch" .Page.Scratch "issuesUrlBase" $issuesUrlBase "currentPath" $currentPath "page" 1 "headers" $headers) }}
{{ $issues := .Page.Scratch.Get "issues" }}

{{/* <!-- if no object show error --> */}}
{{ if ne $issues nil }}
  <!-- range over issues list and pull out useful data -->
  {{ range $issues }}

    {{ $showIssue := true }}
    <!-- if a filter exists, only show issues with the right label -->
    {{ if $filter }}
      {{ $showIssue = false }}
      {{ range .labels }}
        {{ if in .name
          $filter
        }}
          {{ $showIssue = true }}
        {{ end }}
      {{ end }}
    {{ end }}
    <!-- now show the issue -->
    {{ if $showIssue }}
      {{ if strings.Contains .body "_No response_" }}
        {{ errorf "Issue %s contains _No response_ - please edit the issue to remove it." .html_url }}
      {{ end }}
      <div class="c-alert" role="alert" hidden>
        <span class="alert__message"></span>
        <button aria-label="Close" class="clean-btn close" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <details class="c-issue">
        <summary class="c-issue__title e-heading__3">
          {{ .title }} <a class="c-issue__link" href="{{ .html_url }}">🔗</a>
          <a
            href="/api/clone?state={{ dict "issue" .number "module" $repo "sprint" $filter "prevPath" $currentPath | jsonify }}"
            class="e-button"
            data-props="{{ $currentPath }}">
            Clone
          </a>
        </summary>
        <div class="c-issue__body">{{ .body | markdownify }}</div>
      </details>
      {{ with .labels }}
        <ul class="c-issue__labels c-label__list">
          {{ range . }}
            <li class="c-issue__label c-label" style="--github:#{{ .color }}4d">
              <span
                class="c-issue__label-name c-label__name"
                title="{{ .description }}">
                {{ .name }}
              </span>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ errorf "Error, fetch of %s failed: %v" $issuesUrlBase $issues }}
{{ end }}
