{{/* Expects dict param containing:
  * menus_to_map (slice[string]) - Names of site menus to map.
  * animation (bool) - Whether to animate descriptions on cards.
*/}}
{{ $menusToMap := index . "menus_to_map" }}
{{ $animation := index . "animation" }}

{{ $sections := slice }}

{{ range $menuName := $menusToMap }}
  {{ $section := dict "title" $menuName "values" (index site.Menus $menuName) }}
  {{ $sections = append $section $sections }}
{{ end }}

{{ $params := dict "sections" $sections "animation" $animation }}

{{ partial "map-common.html" $params }}
