{{/* Section navigation  and other tiny tips */}}
{{ if or .IsSection  .IsPage }}
  <footer class="c-page-footer">
    <nav class="c-page-footer__nav">
      {{ $pages := .Page.Parent.Pages.Reverse }}
      {{ with $pages.Prev . }}
        <a
          class="c-page-footer__prev c-page-footer__link e-link"
          href="{{ .RelPermalink }}"
          >{{ .Title }}</a
        >←
      {{ end }}
      <span class="c-page-footer__this">{{ .Title }}</span>
      {{ with $pages.Next . }}
        →<a
          class="c-page-footer__next c-page-footer__link e-link"
          href="{{ .RelPermalink }}"
          >{{ .Title }}</a
        >
      {{ end }}
    </nav>
  </footer>
{{ end }}
