{{/* Section navigation */}}

{{ if or .PrevInSection .NextInSection }}
  <footer class="c-page-footer">
    <nav class="c-page-footer__nav">
      {{ with .PrevInSection }}
        <a
          class="c-page-footer__prev c-page-footer__link e-link"
          href="{{ .RelPermalink }}"
          >{{ .Title }}</a
        >←
      {{ end }}
      <span class="c-page-footer__this">{{ .Title }}</span>
      {{ with .NextInSection }}
        →<a
          class="c-page-footer__next c-page-footer__link e-link"
          href="{{ .RelPermalink }}"
          >{{ .Title }}</a
        >
      {{ end }}
    </nav>
  </footer>
{{ end }}
