{{/* We fall back through these opinions about time:

  1. set in the [[blocks]] array in the frontmatter of prep or day plan ??
  2. set in the front matter of a block ??
  3. set in any external api that is accessed ??
  4. default 60 TODO we want this to be 0 really - can we update the front matter?

  The point of setting time is to help trainees and volunteers understand
  how long to spend on activities.

  At the moment this is always a countdown timer web component.
  You can double click to set it going.
  TODO: make this opt in for a simple time block if that comes up.
*/}}
{{ $blockData := .Page.Scratch.Get "blockData" }}
{{/* Sometimes we're not using blocks, but local pages, and we might want time then too */}}
{{ $localBlock := "0" }}
{{ if not $blockData }}
  {{ $localBlock = .Site.GetPage .File.Path }}
  {{ $localBlock = $localBlock.Params.Time }}
{{ end }}
{{ if eq $blockData.type "local" }}
  {{ $localBlock = .Site.GetPage $blockData.api }}
  {{ $localBlock = $localBlock.Params.Time }}
{{ end }}
{{ $time := $blockData.time | default $localBlock | default 60 }}
<time
  class="c-block__time"
  tabindex="0"
  role="timer"
  aria-label="{{ $time }} minutes countdown"
  datetime="P{{ $time }}M"
  >{{ $time }} minutes ⏱</time
>
{{ $stopwatch := resources.GetMatch "/scripts/stop-watch.js" | resources.Minify }}
<script type="module" defer>
    import StopWatch from "{{ $stopwatch.RelPermalink }}";
</script>
